<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StockDataDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <StockDataDownloader.Properties.Settings>
            <setting name="DownloadStartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadEndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
        </StockDataDownloader.Properties.Settings>
    </userSettings>
</configuration>
